#menu-drawer {
    width: 200px;
}

.flex-menu-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-drawer {
    min-height: 100vh;
}

.text-align-start {
    text-align: start;
}

.font20 {
    font-size: 20;
}

.router-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: auto;
    margin-top: 4vh;
}