<mat-drawer-container autosize class=" container-drawer">
    <mat-drawer #drawer class="example-sidenav" mode="push" id="menu-drawer">
        <div class="flex-menu-block">
            <mat-toolbar color="primary">
                <span>Меню</span>
            </mat-toolbar>
            <button mat-button class="text-align-start" (click)="navigate('/disciplines'); drawer.toggle()">Дисциплины</button>
            <button mat-button class="text-align-start" (click)="navigate('/classes'); drawer.toggle()">Классы</button>
            <button mat-button class="text-align-start" (click)="navigate('/achievements'); drawer.toggle()">Достижения</button>
            <button mat-button class="text-align-start">Пользователи</button>
            <button (click)="logout(); drawer.toggle()" mat-button class="text-align-start" color="warn">Выйти</button>
        </div>
    </mat-drawer>

    <p *ngIf="router.url != '/login'">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" 
                    aria-label="Example icon-button with menu icon" 
                    (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Школьный мотиватор</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
    </p>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>