.main-container {
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 20px;
}

.header-buttons {
    margin: auto 0 auto auto;
}

.header-title {
    margin: auto 0 auto 0;
}

.button-on-header {
    min-width: 100px;
    margin-left: 20px;
}