.container-div {
    min-height: 96vh;
    min-width: 100%;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.card {
    width: 30%;
    margin: auto;
}

.center-align {
    margin: auto;
}