<div class="container-div">
    <mat-card class="card">
        <mat-card-title>Вход в приложение "Школьный мотиватор"</mat-card-title>

        <mat-card-content class="content" *ngIf="!isBusy">
            <mat-form-field appearance="fill">
                <mat-label>Логин</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="model.username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Пароль</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password">
                <!-- <mat-error *ngIf="errMsg==''">{{errMsg}}</mat-error> -->
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>

        <button mat-raised-button color="accent" (click)="login()" *ngIf="!isBusy">Войти</button>
        <!-- <button mat-raised-button color="accent" (click)="loginVk()" *ngIf="!isBusy">Войти через ВК</button> -->
        
        <mat-spinner class="center-align" *ngIf="isBusy"></mat-spinner>
    </mat-card>
</div>